---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family:    Arial, Helvetica, sans-serif;
$base-font-size:      18px;
$base-font-weight:    400;
$small-font-size:     $base-font-size * 0.875;
$base-line-height:    1.5;

$logo-width:		  440px;
$logo-height:		  112px;

$nav-height:		  $logo-height;
$nav-link-width:	  120px;
$nav-line-height:	  6;

$footer-height:		  7.9em;

$spacing-unit:        30px;

$border-width:		  4px;

// Colors

$peach-color:		  #FFD170;
$peach-color-dark:	  darken($peach-color, 20%);
$peach-color-red:	  #FFB370;
$peach-color-yellow:  #FFE870;

$red-color:			  #C5001B;

$grey-color:          #828282;
$grey-color-light:    lighten($grey-color, 20%);
$grey-color-dark:     darken($grey-color, 25%);

$black-color:		  #111;

$white-color:		  #fff;
$white-color-dark:    darken($white-color, 5%);

$text-color:          $black-color;
$background-color:    $white-color;
$brand-color:         $peach-color;

// Width of the content area
$content-width:       1300px;

$on-palm:             600px;
$on-laptop:           800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
