body {
	background-color: $white-color;
}

.border-div {
	background-color: #0f0;
	box-sizing: border-box;
	width: $content-width;
	margin: auto;
	margin-top: 20px;
	border: $border-width solid $red-color;
}

/**
 * Site header
 */
.site-header {
    min-height: 56px;
    background-color: $white-color;
    margin: 0;
    border-bottom: $border-width solid $red-color;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    margin-bottom: 0;
    float: left;
    padding-bottom: 0;
}

.logo {
	display: block;
	padding: 0;
	width: $logo-width;
	height: $logo-height;
}

.site-nav {
    float: right;
    line-height: 56px;
    display: block;
    height: $nav-height;
    width: 50%;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $black-color;
        line-height: $nav-line-height;
        display: block;
        float: right;
        height: $nav-height - $border-width;
        width: $nav-link-width;
        text-align: center;
        margin-right: 15%;
        border: 2px solid transparent;
        overflow: hidden;
    }
   
   .page-link:hover {
   		background-color: $white-color-dark;
   		text-decoration: none;
   }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 3px solid $grey-color-dark;
    padding: $spacing-unit 0;
    text-align: center;
    position: relative;
    background-color: $black-color;
    height: $footer-height;
    margin: 0;
}

.site-footer a {
	color: $peach-color;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
    color: $grey-color-light;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color-dark;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
	margin: auto;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    margin: 0;
    background-color: $white-color;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color-dark;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
